<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Angular 19 Countries</h1>
      <p class="mb-5">
        Aplicación en Angular 19 de ejemplo mediante uso de API de países.
      </p>
      <button
        routerLink="/countries"
        class="btn btn-primary"
        >Empecemos
      </button>
    </div>
  </div>
</div>
